<style>
  .gridList {
    border: 2px solid rgb(200,200,250);
    width: 100%;
    height: 280px;
  }
  .gridListNostro {
    border: 2px solid rgb(200,200,250);
    width: 100%;
    height: 60px;
  }
  .currency-align {
    text-align: right;
  }
</style>

<h2>System</h2>
<button class="btn" ng-click="reload_button()">Reload</button>
<br/>&nbsp;</br>

<!-- <pre ng-bind="ui.display_accounts | json" ></pre> -->

<h4>System Accounts Summary</h4>
<div class="row">
  <div class="col-md-12">
    <div class="gridList" ng-grid="grid_system_accounts_opt" ></div>
  </div>
</div>
<br/>

<h4>Nostro Account</h4>
<div class="row">
  <div class="col-md-12">
    <div class="gridListNostro" ng-grid="grid_nostro_opt" ></div>
  </div>
</div>
<br/>

<h4>{{ui.sub_accounts_label}}</h4>
<div class="row">
  <div class="col-md-12">
    <div class="gridList" ng-grid="grid_sub_accounts_opt" ></div>
  </div>
</div>
<br/>


<h4>Transactions</h4>
<div class="row">
  <div class="col-md-12">
    <div class="gridList" ng-grid="grid_transactions_opt" ></div>
  </div>
</div>
<br/>



<p>&nbsp;</p>
