<div class="row">
  <div class="col-md-3 col-sm-offset-1">
   <h2>Add Profile</h2>
 </div>
</div>

<form class = "white-row" name="profile_AddForm"  novalidate>
  <div class="form-body">

    <div class="row" >
      <div class="col-md-3 col-sm-offset-1">
        <div class="form-group">
          <label for="mobile_number">Mobile number</label>
          <input type="text" class="form-control" name="mobile_number" id="mobile_number" ng-model="ui.mobile_number"/>
        </div>
      </div>
    </div>

    <div class="row" >
      <div class="col-md-3 col-sm-offset-1">
        <div class="form-group">
          <label for="firstname">First name</label>
          <input type="text" class="form-control" name="firstname" id="firstname" ng-model="ui.firstname"/>
        </div>
      </div>
    </div>

    <div class="row" >
      <div class="col-md-3 col-sm-offset-1">
        <div class="form-group">
          <label for="lastname">Last name</label>
          <input type="text" class="form-control" name="lastname" id="lastname" ng-model="ui.lastname"/>
        </div>
      </div>
    </div>

  </div>
</form>

<div class="row" >
  <div class="col-md-3 col-sm-offset-1">
    <button class="btn" ng-click="submit_button()">Submit</button>
    <button class="btn" ng-click="random_data_button()">Random Data</button>
    <button class="btn" ng-click="back_button()">Back</button>
  </div>
</div>

<p>&nbsp;</p>
