<style>
  .gridList {
    border: 2px solid rgb(200,200,250);
    width: 100%;
    height: 200px;
  }
  .currency-align {
    text-align: right;
  }
</style>

<h2>Profile</h2>
<button class="btn" ng-click="reload_button()">Reload</button>
<button class="btn" ng-click="back_button()">List</button>
<br/>&nbsp;</br>

<h4>API Data</h4>
<pre ng-bind="ui_db | json" ></pre>    

<h4>Update</h4>
<div class="well">
  <form name="update_form"  novalidate>
    <div class="form-body">

      <div class="row" >
        <div class="col-md-4 ">
          <div class="form-group">
            <label for="mobile_number">Mobile number</label>
            <input type="text" class="form-control" name="mobile_number" id="mobile_number" ng-model="ui.mobile_number"/>
          </div>
        </div>
      </div>

      <div class="row" >
        <div class="col-md-4 ">
          <div class="form-group">
            <label for="firstname">First name</label>
            <input type="text" class="form-control" name="firstname" id="firstname" ng-model="ui.firstname"/>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="lastname">Last name</label>
            <input type="text" class="form-control" name="lastname" id="lastname" ng-model="ui.lastname" />
          </div>
        </div>
      </div>

      <div class="row" >
        <div class="col-md-4 ">
          <div class="form-group">
            <label for="gov_id">Government ID</label>
            <input type="text" class="form-control" name="gov_id" id="gov_id" ng-model="ui.gov_id"/>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="kyc_state">KYC Level</label>
            <select class="form-control" name="kyc_state" id="kyc_state" ng-model="ui.kyc_state"
                ng-options="o.id as o.desc for o in rs.lookup_kyc_states" >
            </select>
          </div>
        </div>
      </div>

      <div class="row" >
        <div class="col-md-4 ">
          <button class="btn" ng-click="submit_button()">Update</button>
        </div>
      </div>
    </div>
  </form>

</div>


<h4>Add account</h4>
<div class="well">
  <form name="update_form"  novalidate>
    <div class="form-body">

      <div class="row" >
        <div class="col-md-4 ">
          <div class="form-group">
            <label for="type">Type</label>
            <input type="text" class="form-control" name="type" id="type" ng-model="ui_add_account.type"/>
          </div>
        </div>
      </div>

      <div class="row" >
        <div class="col-md-4 ">
          <button class="btn" ng-click="add_account_button()">Add</button>
        </div>
      </div>
    </div>
  </form>

</div>

<h4>Accounts</h4>
<div class="row">
  <div class="col-md-12">
    <div class="gridList" ng-grid="grid_account_options" ></div>
  </div>
</div>
<br/>

<h4>Transactions</h4>
<div class="row">
  <div class="col-md-12">
    <div class="gridList" ng-grid="grid_transaction_options" ></div>
  </div>
</div>
<br/>



<p>&nbsp;</p>
