<style>
  .gridProfilesList {
    border: 2px solid rgb(200,200,250);
    width: 100%;
    height: 280px;
  }
</style>

<h2>Profiles</h2>

<!-- <div class="row">
  <div class="col-md-6">
    <div class="form-group" >
      <div class="input-group">
        <span class="input-group-addon">Filter</span>
        <input type="text" class="form-control" ng-model="grid_filter_options.filterText" placeholder="filter ...">
      </div>
    </div>
  </div>
</div> -->
<div class="row">
  <div class="col-md-3">
        <div class="form-group">
          <label for="mobile_number">Mobile number</label>
          <input type="text" class="form-control" name="mobile_number" id="mobile_number" ng-model="ui.mobile_number"/>
        </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <button class="btn" ng-click="reload_button()">Reload</button>
  </div>
</div>
<p>&nbsp;</p>
<div class="row">
  <div class="col-md-12">
    <div class="gridProfilesList" ng-grid="grid_options" ></div>
  </div>
</div>
<br/>

<div class="row">
  <div class="col-md-3">
    <button class="btn" ng-click="profile_add_button()">Add</button>
  </div>
</div>
<p>&nbsp;</p>