<style>
  .gridList {
    border: 2px solid rgb(200,200,250);
    width: 100%;
    height: 570px;
  }
  .currency-align {
    text-align: right;
  }
</style>

<h3>Transactions</h3>
<p>&nbsp;</p>

<h4>Post a transaction</h4>
<div class="well">
  <form name="update_form"  novalidate>
    <div class="form-body">

      <div class="row" >
        <div class="col-md-4 ">
          <div class="form-group">
            <label for="action">Action</label>
            <input type="text" class="form-control" name="action" id="action" ng-model="ui.action"/>
          </div>
        </div>
        <div class="col-md-4 ">
          <div class="form-group">
            <label for="actor_type">Actor Type</label>
            <input type="text" class="form-control" name="actor_type" id="actor_type" ng-model="ui.actor_type"/>
          </div>
        </div>
      <!--</div>
      <div class="row" > -->
        <div class="col-md-4 ">
          <div class="form-group">
            <label for="fund_type">Fund Type</label>
            <input type="text" class="form-control" name="fund_type" id="fund_type" ng-model="ui.fund_type"/>
          </div>
        </div>
      </div>
      <div class="row" >
        <div class="col-md-4 ">
          <div class="form-group">
            <label for="amount">Amount</label>
            <input type="text" class="form-control" name="amount" id="amount" ng-model="ui.amount"/>
          </div>
        </div>
      <!--</div>
      <div class="row" > -->
        <div class="col-md-4 ">
          <div class="form-group">
            <label for="voucher_number">Voucher Number</label>
            <input type="text" class="form-control" name="voucher_number" id="voucher_number" ng-model="ui.voucher_number"/>
          </div>
        </div>
      <!--</div>
      <div class="row" > -->
        <div class="col-md-4 ">
          <div class="form-group">
            <label for="agent_id">Agent ID</label>
            <input type="text" class="form-control" name="agent_id" id="agent_id" ng-model="ui.agent_id"/>
          </div>
        </div>
      </div>
      <div class="row" >
        <div class="col-md-4 ">
          <div class="form-group">
            <label for="mobile_number">Mobile Number</label>
            <input type="text" class="form-control" name="mobile_number" id="mobile_number" ng-model="ui.mobile_number"/>
          </div>
        </div>
      <!--</div>
      <div class="row" > -->
        <div class="col-md-4 ">
          <div class="form-group">
            <label for="client_id">Client ID</label>
            <input type="text" class="form-control" name="client_id" id="client_id" ng-model="ui.client_id"/>
          </div>
        </div>
      <!--</div>
      <div class="row" > -->
        <div class="col-md-4 ">
          <div class="form-group">
            <label for="beneficiary_id">Beneficiary ID</label>
            <input type="text" class="form-control" name="beneficiary_id" id="beneficiary_id" ng-model="ui.beneficiary_id"/>
          </div>
        </div>
      </div>

      <div class="row" >
        <div class="col-md-4 ">
          <button class="btn" ng-click="submit_button()">Post</button>
        </div>
      </div>
    </div>
  </form>
</div>

<h4>Last response</h4>
<p>{{last_response_status}}</p>
<pre ng-bind="last_response_data | json" ></pre>    

<p>&nbsp;</p>
<h4>Possible Transactions</h4>
<div class="row">
  <div class="col-md-12">
    <div class="gridList" ng-grid="grid_options" ></div>
  </div>
</div>

<p>&nbsp;</p>
<h4>Quick Select</h4>
<div class="well">
  <form name="update_form"  novalidate>
    <div class="form-body">

      <div class="row" >
        <div class="col-md-4 ">
          <div class="form-group">
            <label for="select_voucher">Voucher</label>
            <select class="form-control" name="select_voucher" id="select_voucher" ng-model="ui_select_voucher" ng-options="o.id as o.desc for o in ui_vouchers">
            </select>
          </div>
        </div>
      </div>

      <div class="row" >
        <div class="col-md-4 ">
          <div class="form-group">
            <label for="select_agent">Agent</label>
            <select class="form-control" name="select_agent" id="select_agent" ng-model="ui_select_agent" ng-options="o.id as o.desc for o in ui_agents">
            </select>
          </div>
        </div>
      </div>

      <div class="row" >
        <div class="col-md-4 ">
          <div class="form-group">
            <label for="select_client">Client</label>
            <select class="form-control" name="select_agent" id="select_agent" ng-model="ui_select_client" ng-options="o.id as o.desc for o in ui_clients">
            </select>
          </div>
        </div>
      </div>

      <div class="row" >
        <div class="col-md-4 ">
          <div class="form-group">
            <label for="select_beneficiary">Beneficiary</label>
            <select class="form-control" name="select_beneficiary" id="select_beneficiary" ng-model="ui_select_beneficiary" ng-options="o.id as o.desc for o in ui_beneficiaries">
            </select>
          </div>
        </div>
      </div>

    </div>
  </form>
</div>




<p>&nbsp;</p>